.smallcard-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 80px;
}

.smallcard-container > img {
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 0%;
}

.smallcard-container h4 {
    margin-bottom: 15px;
}

.smallcard-container > div {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
}