*{
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: sans-serif;
    color: #070707;
    margin-left: 27%;
    margin-top: 1%;
}

#subtitulo {
    font-family: sans-serif;
    color: #070707;
    margin-left: 35%;
    margin-top: 2%;
}

.cabacalho {
    margin-top: 5%;
    margin-left: 27%;
}
